<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/fragments/header :: header"></head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

  <nav th:replace="admin/fragments/navigation :: nav"></nav>
  
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-8">
          <h4>Category</h4>
          <hr/>
          <div class="catContainer">
	          <form th:action="@{/admin/category}" method="POST" id="addCategory">
	          	<div class="form-group">
		            <label for="categories">Add Category</label>
		          	<input type="text" name="categoryName" class="form-control"/>
	          	</div>
	 		  	<button type="submit" id="deleteButton" class="btn btn-primary btn-md btn-block buttonSize">Create</button>
			  </form>
			  <hr/>
			  <form th:action="@{/admin/category}" method="POST" id="editPost">
				 <div class="form-group">
				   <label for="categories">Category List</label>
				   <select class="form-control" id="categories">
				     <option th:each="cat : ${categories}" th:text="${cat.categoryName}" th:value="${cat.categoryId}"></option>
				   </select>
				 </div>
	 		  	 <button type="submit" id="editButton" class="btn btn-primary btn-md btn-block buttonSize">Delete</button>
			  </form>
		  </div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2018</small>
        </div>
      </div>
    </footer>
    
    <nav th:replace="admin/fragments/modal :: modal"></nav>

  </div>
</body>

</html>
