<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Post - Start Bootstrap Template</title>

	<script src="/sources/jquery/jquery-3.3.1.js"></script>
	<script src="/sources/popper/popper.js"></script>
    <script src="/sources/bootstrap/js/bootstrap.js"></script>
	<script src="/sources/ckeditor/ckeditor.js"></script>
	
	<script type="text/javascript">
	  $(document).ready(function() {
		  CKEDITOR.replace( 'editor' );
	  });	
	</script>
	
    <link href="/sources/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/sources/css/blog-write.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-12">
          <h1 class="mt-4">Post Title</h1>
		  <form action="/posts/write" method="post">
			<input type="text" name="postTitle" placeholder="Subject" id="postTitle">
			<hr style="margin-top: 2px; border-top: 1px solid #999;">
			<textarea name="postContent" id="editor" rows="10"></textarea>
			<hr>
			<button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
			<hr>
		 </form>
        </div>
      </div><!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>


  </body>

</html>
