<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:replace="fragments/header :: header"></head>

<body>
	<nav th:replace="fragments/navigation :: nav"></nav>


	<!-- Page Content -->
	<div class="container-fluid">
		<div class="row">
			<!-- Blog Entries Column -->
			<div class="col-md-9">
				<h1 class="my-4">Page Heading<small>Secondary Text</small></h1>
				
				<div class="row">
					<th:block th:switch="${posts} == null">
						<th:block th:case="false"  >
			        	<div class="col-lg-4 col-sm-6 portfolio-item" th:each="post : ${posts}"> 	
					        <div class="card h-100">
						        <img class="card-img-top" src="http://placehold.it/700x400" alt="">
						        <div class="card-body">
							        <h4 class="card-title">
							        <a th:href="@{'/posts/post/' + ${post.postId}}" th:text="${post.postTitle}"></a>
							        </h4>
							        <p class="card-text" th:text="${post.postDescription}"></p>
						        </div>
					        </div>
					    </div>
					    </th:block>
					    
				        <div th:case="*">
				        	<h3>No posts exist.</h3>
				        </div>   
			        </th:block>
				</div>
				<!-- Pagination -->
				<ul class="pagination justify-content-center mb-4">
					<li class="page-item" th:classappend="${posts.first} ? disabled : ''"><a class="page-link" id="newButton" th:href="@{'?page=' + ${posts.number-1}}">&larr; Newer</a></li>
					<li class="page-item" th:classappend="${posts.last} ? disabled : ''"><a class="page-link" id="oldButton" th:href="@{'?page=' + ${posts.number+1}}">Older &rarr;</a></li>
				</ul>
			</div>
			

			<!-- Sidebar Widgets Column -->
			<div th:replace="fragments/sidebar :: side"></div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->

	<footer th:replace="fragments/footer :: footer"></footer>

</body>

</html>