<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en" th:replace="fragments/header :: header"></head>
	
	<body>
		<nav th:replace="fragments/navigation :: nav"></nav>

		<!-- Page Content -->
		<div class="container-fluid">
		<div class="row">
		<!-- Post Content Column -->
			<div class="col-lg-9">
			
				<!-- Title -->
				<h1 class="mt-4"></h1>
				<p class="lead" th:text="${post.postTitle}"></p>
		
				<!-- Date/Time -->
				<p th:text="'Posted on ' + ${#temporals.format(post.postDate, 'yyyy/MM/dd HH:mm')}"></p>
				<hr>
				<!-- Preview Image -->
				<img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
					
				<hr>
		
				<!-- Post Content -->
				<div th:utext="${post.postContent}" class="postcontent" id="postcontent"></div>
				<hr>
		
				<!-- Comments Form -->
				<div class="card my-4">
					<h5 class="card-header">Leave a Comment:</h5>
					<div class="card-body" th:switch="${user}">
						<form th:case="null" th:action="@{/signin/facebook}" method="POST">
							<input type="hidden" name="scope" value="public_profile" />
							<input type="submit" value="Login using Facebook"/>
						</form>
						<form th:case="*" action="/comments/comment" method="POST">
							<div class="form-group">
						    	<textarea name="commentContent" class="form-control" rows="3"></textarea>
						    	<input name="postId" type="hidden" th:value="${post.postId}">
							</div>
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>
				</div>
				
				
				<!-- Comments -->
				<th:block th:if="${comments} != null">
					<th:block th:each="comment : ${comments}">
					<div class="media mb-4">
						<img class="d-flex mr-3 rounded-circle" th:src="${comment.commenterPhoto}" alt="">
					  	<div class="media-body">
						    <span class="mt-0" th:text="${comment.commenterName}"></span><span th:text="' commented on ' + ${#temporals.format(comment.commentDate, 'yyyy/MM/dd HH:mm')}"></span>
						    <p th:text="${comment.commentContent}"></p>
						    <button type="button" class="replyButton">Reply</button>
					     	<form class="replyForm" action="/comments/subcomment" method="POST">
					     		<div class="form-group">
						     		<textarea name="subCommentContent" class="form-control" rows="2"></textarea>
						     		<input name="commentId" type="hidden" th:value="${comment.commentId}">
						     		<button type="submit" class="replySubmitButton">Submit</button>
					     		</div>
					     	</form>
						    <!-- Subcomments -->
						    <th:block th:if="${comment.subComments} != null">
						    	<th:block th:each="subc : ${comment.subComments}">
							    <div class="media mt-4">
				                	<img class="d-flex mr-3 rounded-circle" th:src="${subc.subCommenterPhoto}" alt="">
				                	<div class="media-body">
			                  			<span class="mt-0" th:text="${subc.subCommenterName}"></span><span th:text="' commented on ' + ${#temporals.format(subc.subCommentDate, 'yyyy/MM/dd HH:mm')}"></span>
			                  			<p th:text="${subc.subCommentContent}"></p>
				                	</div>
				             	</div>
				             	</th:block>
			             	</th:block>
						</div>
					</div>
					</th:block>
				</th:block>
			</div>
		
			<!-- Sidebar Widgets Column -->
			<div th:replace="fragments/sidebar :: side"></div>
		
		</div>
		<!-- /.row -->
		
		</div>
		<!-- /.container -->
		
		<!-- Footer -->
		<footer th:replace="fragments/footer :: footer"></footer>
		
	</body>

</html>
