@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

/* ---------------------------- Core Styles ---------------------------- */
html {
	width: 100%;
	height: 100%;
}	

body {
  	padding-top: 54px;
  	width: 100%;
	height: 100%;

}

@media (min-width: 1200px) {
  .container-fluid {
    width: 1199px;
  }
}


#postTitle {
	width: 100%; 
	border: none; 
	border-right: 0px; 
	border-top: 0px; 
	boder-left: 0px; 
	boder-bottom: 1px; 
	outline-style: none;
}

.replyForm {
	display: none;
	margin-top: 3px;
}

.replyButton {
	border-style: none;
	font-size: 12px;
}

.replySubmitButton {
	border-style: none;
	font-size: 12px;
}

.portfolio-item {
  margin-bottom: 30px;
}


#container {
	width: 100%;
	height: 100%;
	background-color: grey;
}

#innerContainer {
	background-color: white;
	width: 450px;
	height: 200px;
	border: 1px solid grey;
}

#loginForm input {
	display: block;
}

.indexImage{
	object-fit: none; /* Do not scale the image */
	object-position: top; /* Center the image within the element */
	width: 100%;
	max-height: 250px;
	margin-bottom: 1rem;
}